/*----------UNIVERSAL----------*/
@charset "UTF-8";

*{margin: 0; padding: 0}

html{
    --marrom-escuro: #291e16;
    --marrom: #403531;
    --marrom-claro: #473c36;
    --bege-escuro: #d9c1b4;
    --bege-claro: #f0e0d6;
    --laranja-claro: #d9ac84;
    --laranja-escuro: #8c593b;
    --vinho: #702f3e;
}

/*----HEADER----*/
header{
    height: 5em;
    background-color: var(--bege-claro);

    display: flex;
    justify-content: space-between;

    box-shadow: rgb(95, 95, 95) 0 0 5px 5px;
}

.img-logo-container{
    width: 10%;
    display: flex;
    justify-content: center;
}
.img-logo{
    height: 5em;
}

nav{
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: black;
}

/*----FOOTER----*/
footer{
    background-color: var(--vinho);
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}