/*----------MAIN----------*/
main{
    height: 60em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

article{
    height: 70%;
    width: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: gray;
}
article h1{
    font-size: 32px;
}

section{
    height: 80%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    border-radius: .75em;

    box-shadow: gray 0 5px 10px;

    background-color: white;
}

section h3{
    width: 90%;
    height: 10%;
    align-self: flex-end;
}
form{
    height: 80%;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.un, .pa{
    height: 25%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.ch{
    height: 15%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.links{
    height: 15%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.links a{
    width: 95%;

    color: var(--nav-green);
}
.check a{
    color: var(--nav-green);
}

.si{
    width: 25%;
    height: 20%;
    align-self: flex-end;

    display: flex;
}
#sign{
    height: 70%;
    width: 85%;
    cursor: pointer;
    background-color: var(--nav-green);
    color: white;
    box-shadow: var(--nav-green) 0 0 5px;
    border-radius: 2em;
    border: none;
    font-size: 20px;
    transition: .2s;
}
#sign:hover{
    height: 75%;
    width: 90%;
    transition: .2s;
    background-color: #28b17f;
}

.username, .senha{
    height: 30%;
    width: 90%;
}
#username, #senha{
    height: 50%;
    width: 90%;

    border: solid var(--dark-gray) 1px;
    border-radius: .5em;

    padding-left: 2%;

    font-size: 18px;
}

.check{
    width: 90%;
}
#check{
    width: 10%;
    height: 25px;
}

fieldset{
    border: none;
}

section span{
    color: var(--nav-green);
    font-size: 20px;
}




aside{
    height: 25%;
    width: 45%;
    background-color: var(--banner5-green);
    border-radius: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    height: 100%;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.text h1{
    height: 15%;
}
.text h2{
    height: 50%;
}
.btn{
    width: 25%;
    height: 15%;
    border: solid var(--nav-green) 1px;
    border-radius: 2em;
    color: var(--nav-green);
    
    display: flex;
    align-items: center;
    justify-content: center;
}