/*----------MAIN----------*/
main{
    /*height do conteudo é 130*/
    height: 175em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*----Banner 1----*/
.banner1{
    height: 25em;
    background-color: var(--banner1-dark-green);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.b1-left{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b1-text{
    height: 70%;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.b1-text h1{
    color: white;
    font-size: 30px;
}
.b1-text h2{
    color: white;
    font-size: 24px;
}
.b1-btn{
    height: 15%;
    width: 40%;
    border: solid white 2px;
    border-radius: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
    cursor: pointer;
}
.b1-btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;

    width: 100%;
}

.b1-btn:hover{
    transition: .2s;
    background-color: var(--banner1-dark-green-hover);
}

.b1-img-container{
    height: 100%;
    width: 50%;

    background-image: url(../img/malaEvermelho.jpg);
    background-size: cover;
    background-repeat: none;
}

/*----Banner 2----*/
.banner2{
    height: 35em;
    background-color: var(--banner2-green);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.b2-img-container{
    height: 100%;
    width: 50%;

    background-image: url(../img/3copos.jpg);
    background-size: cover;
    background-repeat: none;
}

.b2-right{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b2-text{
    height: 70%;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.b2-text h1{
    color: var(--banner1-dark-green-hover);
    font-size: 64px;
}
.b2-text h2{
    color: var(--banner1-dark-green-hover);
    font-size: 28px;
}
.b2-btn{
    height: 10%;
    width: 30%;
    border: solid var(--banner1-dark-green-hover) 1px;
    border-radius: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
    cursor: pointer;
}
.b2-btn a{
    color: var(--banner1-dark-green-hover);
    text-decoration: none;
    font-size: 20px;

    width: 100%;
}

.b2-btn:hover{
    transition: .2s;
    background-color: var(--banner2-green-hover);
}

/*----Banner 3----*/
.banner3{
    height: 35em;
    background-color: var(--banner3-pink);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.b3-left{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b3-text{
    height: 70%;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.b3-text h1{
    color: var(--banner1-dark-green-hover);
    font-size: 64px;
}
.b3-text h2{
    color: var(--banner1-dark-green-hover);
    font-size: 28px;
}
.b3-btn{
    height: 10%;
    width: 30%;
    border: solid var(--banner1-dark-green-hover) 1px;
    border-radius: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
    cursor: pointer;
}
.b3-btn a{
    color: var(--banner1-dark-green-hover);
    text-decoration: none;
    font-size: 20px;

    width: 100%;
}

.b3-btn:hover{
    transition: .2s;
    background-color: var(--banner3-pink-hover);
}

.b3-img-container{
    height: 100%;
    width: 50%;

    background-image: url(../img/2copos.jpg);
    background-size: cover;
    background-repeat: none;
}

/*----Banner 4----*/
.banner4{
    height: 35em;
    background-color: var(--banner4-yellow);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.b4-img-container{
    height: 100%;
    width: 50%;

    background-image: url(../img/paodequeijo.jpg);
    background-size: cover;
    background-repeat: none;
}

.b4-right{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b4-text{
    height: 70%;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.b4-text h1{
    color: var(--banner1-dark-green-hover);
    font-size: 64px;
}
.b4-text h2{
    color: var(--banner1-dark-green-hover);
    font-size: 28px;
}
.b4-btn{
    height: 10%;
    width: 30%;
    border: solid var(--banner1-dark-green-hover) 1px;
    border-radius: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
    cursor: pointer;
}
.b4-btn a{
    color: var(--banner1-dark-green-hover);
    text-decoration: none;
    font-size: 20px;

    width: 100%;
}

.b4-btn:hover{
    transition: .2s;
    background-color: var(--banner4-yellow-hover);
}

/*----Banner 5----*/
.banner5{
    height: 25em;
    background-color: var(--banner5-green);

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.b5-left{
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.b5-text{
    height: 70%;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.b5-text h1{
    color: var(--banner1-dark-green-hover);
    font-size: 30px;
}
.b5-text h2{
    color: var(--banner1-dark-green-hover);
    font-size: 24px;
}
.b5-btn{
    height: 15%;
    width: 30%;
    border: solid var(--banner1-dark-green-hover) 1px;
    border-radius: 2em;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
    cursor: pointer;
}
.b5-btn a{
    color: var(--banner1-dark-green-hover);
    text-decoration: none;
    font-size: 20px;

    width: 100%;
}

.b5-btn:hover{
    transition: .2s;
    background-color: var(--banner5-green-hover);
}

.b5-img-container{
    height: 100%;
    width: 50%;

    background-image: url(../img/sacola.jpg);
    background-size: cover;
    background-repeat: none;
}